@import "swiper/swiper.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Circular;
    src: url(../../public/fonts/CircularStd-Black.otf);
    src: url(../../public/fonts/CircularStd-Black.eot)
        format("embedded-opentype"),
      url(../../public/fonts/CircularStd-Black.woff2) format("woff2"),
      url(../../public/fonts/CircularStd-Black.woff) format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: Circular;
    src: url(../../public/fonts/CircularStd-Book.ttf);
    src: url(../../public/fonts/CircularStd-Book.eot)
        format("embedded-opentype"),
      url(../../public/fonts/CircularStd-Book.woff2) format("woff2"),
      url(../../public/fonts/CircularStd-Book.woff) format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Platform;
    src: url(../../public/fonts/Platform-Medium.otf);
    src: url(../../public/fonts/Platform-Medium.eot) format("embedded-opentype"),
      url(../../public/fonts/Platform-Medium.woff2) format("woff2"),
      url(../../public/fonts/Platform-Medium.woff) format("woff");
    font-weight: 700;
  }

  @font-face {
    font-family: Lyon;
    src: url(../../public/fonts/LyonText-Regular.otf);
    src: url(../../public/fonts/LyonText-Regular.eot)
        format("embedded-opentype"),
      url(../../public/fonts/LyonText-Regular.woff2) format("woff2"),
      url(../../public/fonts/LyonText-Regular.woff) format("woff");
    font-weight: 400;
    font-style: none;
  }

  @font-face {
    font-family: Lyon;
    src: url(../../public/fonts/LyonText-Bold.otf);
    src: url(../../public/fonts/LyonText-Bold.eot) format("embedded-opentype"),
      url(../../public/fonts/LyonText-Bold.woff2) format("woff2"),
      url(../../public/fonts/LyonText-Bold.woff) format("woff");
    font-weight: 700;
    font-style: none;
  }

  @font-face {
    font-family: Lyon;
    src: url(../../public/fonts/LyonText-RegularItalic.otf);
    src: url(../../public/fonts/LyonText-RegularItalic.eot)
        format("embedded-opentype"),
      url(../../public/fonts/LyonText-RegularItalic.woff2) format("woff2"),
      url(../../public/fonts/LyonText-RegularItalic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: Lyon;
    src: url(../../public/fonts/LyonText-BoldItalic.otf);
    src: url(../../public/fonts/LyonText-BoldItalic.eot)
        format("embedded-opentype"),
      url(../../public/fonts/LyonText-BoldItalic.woff) format("woff");
    font-weight: 700;
    font-style: italic;
  }

  /* Get rid of the border outlines on button unless user is actually tabbing. */
  body:not(.user-is-tabbing) button:focus,
  body:not(.user-is-tabbing) input:focus,
  body:not(.user-is-tabbing) select:focus,
  body:not(.user-is-tabbing) textarea:focus {
    outline: none;
  }

  html {
    @apply font-lyon text-base;
    font-size: 18px;
  }

  h1 {
    @apply text-xl font-platform;
  }

  h2 {
    @apply text-lg font-platform;
  }

  h3 {
    @apply text-base font-circular;
  }

  h4 {
    @apply text-xs font-circular;
  }

  h5 {
    @apply text-xxs font-circular;
  }

  button {
    @apply font-lyon;
  }

  ul {
    @apply list-disc list-outside ml-3;
  }

  a {
    @apply text-prissian;
  }

  a:hover {
    @apply underline;
  }

  .toggle-checkbox:not(:checked) {
    left: 0.2rem;
  }

  .toggle-checkbox:checked {
    right: 0.2rem;
  }

  .score-label:before {
    @apply absolute;

    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1c5275;
    transform: rotate(-90deg);
    left: 7px;
    top: 6px;
  }

  p {
    padding-bottom: 1rem;
  }

  li {
    padding-bottom: 1rem;
  }

  /* Spotlights Start */

  header.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: baseline;
  }

  footer.spotlight {
    height: 400px;
    color: white;
    margin-top: 1rem;
    padding: 1rem 2rem;
  }

  footer.spotlight ul {
    @apply text-base font-circular;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  footer.spotlight ul li {
    padding: 0.3rem;
  }

  footer.spotlight h2.annot {
    position: absolute;
    right: 2rem;
  }

  /* TODO: remove upon prod progress */
  @media only screen and (max-width: 900px) {
    header.spotlight {
      overflow: clip;
    }
  }

  header.spotlight nav {
    display: inline-flex;
    margin: 0 auto;
  }

  header.spotlight button a,
  header.spotlight button span {
    font-family: Platform, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
  }

  main.spotlight {
    max-width: 100%;
    margin-top: 60px;
  }

  main.spotlight p {
    max-width: 720px;
    margin: 1rem auto;
  }

  main.spotlight section {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main.spotlight section:first-of-type {
    padding-top: 30px;
  }

  main.spotlight section.scrolly {
    @apply relative;
    padding: 1rem 0;
    margin-left: 0;
    margin-right: 0;
  }

  main.spotlight section h2 {
    @apply sticky;
    top: 60px;
    width: 100%;
    background-color: white;
    text-transform: uppercase;
  }

  main.spotlight section.scrolly h2 {
    @apply max-w-6xl;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-left: 1rem;
    background-color: unset;
    z-index: 10;
  }

  main.spotlight iframe {
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 5px;
  }

  main.spotlight figure {
    width: 100%;
    max-width: 900px;
    margin: 2rem auto 3rem auto;
  }

  main.spotlight figure img {
    margin: 1rem auto;
  }

  main.spotlight figure figcaption {
    @apply font-platform;
    text-align: right;
    margin: 1rem auto;
  }

  div.scrolly-canvas {
    @apply sticky w-full m-0 left-0;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    margin: 0;
    z-index: 0;
  }

  div.scrolly-canvas figure.scrolly-figure {
    width: 100%;
    height: 100%;
    max-width: unset;
    margin-bottom: 3rem;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out, width 1s ease-in-out;
  }

  div.scrolly-canvas figure.scrolly-figure p#scene-counter {
    @apply fixed m-0 p-4 text-right text-6xl font-black;
    margin: 0;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 60px;
    right: 0;
    transform: translateY(-50%);
    font-size: 4rem;
    font-weight: 900;
  }

  div.scrolly-canvas figure.scrolly-figure p#index-counter {
    @apply fixed m-0 p-4 text-left text-6xl font-black;
    margin: 0;
    text-align: center;
    padding: 0 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 4rem;
    font-weight: 700;
  }

  div.scrolly-steps {
    @apply relative p-0 max-w-md mx-auto z-10;
    margin-top: 150vh;
    margin-bottom: 0;
    padding: 0 1rem;
  }

  .step.invisible {
    visibility: hidden;
    margin: 50vh auto 50vh auto;
    height: 1vh;
  }

  .step {
    @apply bg-white mx-auto;
    margin-top: 133vh;
    margin-bottom: 133vh;
  }

  .step:last-child {
    margin-bottom: 133vh;
  }

  .step.is-active h3 {
    @apply bg-yellow-500 text-gray-200;
  }

  .step h3 {
    @apply text-center p-4 bg-gray-200;
  }

  .step p {
    @apply p-4;
  }

  div.scrolly-chart {
    max-width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div.scrolly-chart .label {
    color: black;
    font-weight: 700;
  }

  /* Spotlights End */
}
