@import "swiper/swiper.min.css";
@import "swiper/components/pagination/pagination.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --swiper-theme-color: #1c5275;
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../../public/fonts/poppins-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../../public/fonts/poppins-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../../public/fonts/poppins-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("../../public/fonts/poppins-regular.woff")
        format("woff"),
      /* Modern Browsers */ url("../../public/fonts/poppins-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../../public/fonts/poppins-regular.svg#Poppins") format("svg"); /* Legacy iOS */
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("../../public/fonts/poppins-700.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../../public/fonts/poppins-700.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../../public/fonts/poppins-700.woff2") format("woff2"),
      /* Super Modern Browsers */ url("../../public/fonts/poppins-700.woff")
        format("woff"),
      /* Modern Browsers */ url("../../public/fonts/poppins-700.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../../public/fonts/poppins-700.svg#Poppins") format("svg"); /* Legacy iOS */
  }

  .hero-key-findings {
    @apply bg-cover bg-center;
    background-image: url("../images/bg-key-findings.jpg?size=1440");
  }

  .bg-key-findings {
    @apply bg-cover;
    background-image: url("../images/bg-key-findings.jpg?size=600");
  }

  /* Get rid of the border outlines on button unless user is actually tabbing. */
  body:not(.user-is-tabbing) button:focus,
  body:not(.user-is-tabbing) input:focus,
  body:not(.user-is-tabbing) select:focus,
  body:not(.user-is-tabbing) textarea:focus {
    outline: none;
  }

  /* span is used as glossary buttons */
  body:not(.user-is-tabbing) span:focus {
    outline: none;
  }

  body:not(.user-is-tabbing) #scroll-to-top:focus {
    outline: none;
  }

  body:not(.user-is-tabbing) .slider-button:focus {
    outline: none;
  }

  html {
    @apply font-sans text-base;
    font-size: 18px;
  }

  h1 {
    @apply text-xl leading-none break-words;
  }

  h2 {
    @apply leading-none break-words;
    font-size: 1.6rem;
  }

  h3 {
    @apply leading-none mt-5 mb-3 break-words;
    font-size: 1.2rem;
  }

  h4 {
    @apply text-xs;
  }

  h5 {
    @apply text-xxs;
  }

  ul {
    @apply list-disc list-outside ml-6;
  }

  li {
    @apply mb-3;
  }

  .shortlist li:last-child {
    @apply mb-0;
  }

  ul.menubar > li,
  ul.footer > li {
    @apply mb-0;
  }

  p {
    @apply mb-3;
  }

  .element p {
    @apply inline;
  }

  .narrative-container :target,
  .report-card :target {
    scroll-margin-top: 1rem;
  }

  .narrative-container {
    max-width: 900px;
  }

  .narrative-container p:last-child {
    @apply mb-0;
  }

  a {
    @apply text-prissian font-bold;
  }

  div.rank-card a {
    @apply text-white;
  }

  a:hover {
    @apply underline;
  }

  .toggle-checkbox:not(:checked) {
    left: 0.2rem;
  }

  .toggle-checkbox:checked {
    right: 0.2rem;
  }

  .score-label:before {
    @apply absolute transform -rotate-90;

    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1c5275;
    left: -6px;
    top: 9px;
  }

  .svg-shadow {
    -webkit-filter: drop-shadow(-3px 3px 2px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(-3px 3px 2px rgba(0, 0, 0, 0.2));
  }

  .narrative h2 {
    @apply my-6;
  }

  .pullquote {
    @apply flex text-lg text-prissian my-6;
  }

  @screen md {
    .pullquote:before {
      @apply relative -left-5 border-prissian;

      content: " ";
      border-right-width: 7px;
    }
  }

  .pullquote > p {
    @apply p-0 m-0 leading-tight;
  }

  .footnotes a {
    @apply break-words;
  }

  .footnotes p,
  .footnotes div {
    @apply mb-2;
  }

  .footnotes p:last-child {
    @apply mb-0;
  }

  .company-table::-webkit-scrollbar {
    height: 9px;
  }

  .company-table::-webkit-scrollbar-track {
    @apply bg-beige;
  }

  .company-table::-webkit-scrollbar-thumb {
    @apply bg-prissian rounded-md;
  }
}

@layer utilities {
  .h-hero {
    height: 36rem;
  }

  .italic {
    font-style: italic;
  }
}

/* For some reason unknown to me those styles are being removed during build.
 * Placing them here prevents that.
 */
.feature-box-wrapper {
  @apply relative mb-6 mt-6;
}

.feature-box-inner:before {
  @apply bg-disabled-light;
  content: "";
  position: absolute;
  width: 104%;
  height: 100%;
  left: -2%;
  z-index: -1;
}

@media (min-width: 768px) {
  .feature-box-inner:before {
    @apply bg-disabled-light;
    content: "";
    position: absolute;
    width: 116%;
    height: 100%;
    left: -8%;
    z-index: -1;
  }

  .btn-info {
    visibility: visible;
  }
}

.feature-box {
  @apply relative pt-6 pb-8;
}

.feature-box h2:first-child,
.feature-box h3:first-child {
  @apply mt-0;
}
