@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Circular;
    src: url(../../public/fonts/CircularStd-Black.otf);
    src: url(../../public/fonts/CircularStd-Black.eot)
        format("embedded-opentype"),
      url(../../public/fonts/CircularStd-Black.woff2) format("woff2"),
      url(../../public/fonts/CircularStd-Black.woff) format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: Circular;
    src: url(../../public/fonts/CircularStd-Book.ttf);
    src: url(../../public/fonts/CircularStd-Book.eot)
        format("embedded-opentype"),
      url(../../public/fonts/CircularStd-Book.woff2) format("woff2"),
      url(../../public/fonts/CircularStd-Book.woff) format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Platform;
    src: url(../../public/fonts/Platform-Medium.otf);
    src: url(../../public/fonts/Platform-Medium.eot) format("embedded-opentype"),
      url(../../public/fonts/Platform-Medium.woff2) format("woff2"),
      url(../../public/fonts/Platform-Medium.woff) format("woff");
    font-weight: 700;
  }

  @font-face {
    font-family: Lyon;
    src: url(../../public/fonts/LyonText-Regular.otf);
    src: url(../../public/fonts/LyonText-Regular.eot)
        format("embedded-opentype"),
      url(../../public/fonts/LyonText-Regular.woff2) format("woff2"),
      url(../../public/fonts/LyonText-Regular.woff) format("woff");
    font-weight: 400;
    font-style: none;
  }

  @font-face {
    font-family: Lyon;
    src: url(../../public/fonts/LyonText-Bold.otf);
    src: url(../../public/fonts/LyonText-Bold.eot) format("embedded-opentype"),
      url(../../public/fonts/LyonText-Bold.woff2) format("woff2"),
      url(../../public/fonts/LyonText-Bold.woff) format("woff");
    font-weight: 700;
    font-style: none;
  }

  @font-face {
    font-family: Lyon;
    src: url(../../public/fonts/LyonText-RegularItalic.otf);
    src: url(../../public/fonts/LyonText-RegularItalic.eot)
        format("embedded-opentype"),
      url(../../public/fonts/LyonText-RegularItalic.woff2) format("woff2"),
      url(../../public/fonts/LyonText-RegularItalic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: Lyon;
    src: url(../../public/fonts/LyonText-BoldItalic.otf);
    src: url(../../public/fonts/LyonText-BoldItalic.eot)
        format("embedded-opentype"),
      url(../../public/fonts/LyonText-BoldItalic.woff) format("woff");
    font-weight: 700;
    font-style: italic;
  }

  /* Get rid of the border outlines on button unless user is actually tabbing. */
  body:not(.user-is-tabbing) button:focus,
  body:not(.user-is-tabbing) input:focus,
  body:not(.user-is-tabbing) select:focus,
  body:not(.user-is-tabbing) textarea:focus {
    outline: none;
  }

  html {
    @apply font-lyon text-base;
     font-size:18px;
  }

  h1 {
    @apply text-xl font-platform;
  }

  h2 {
    @apply text-lg font-platform;
  }

  h3 {
    @apply text-base font-circular;
  }

  h4 {
    @apply text-xs font-circular;
  }

  h5 {
    @apply text-xxs font-circular;
  }

  button {
    @apply font-lyon;
  }

  ul {
    @apply list-disc list-inside;
  }

  section.scolly h2 {
    @apply sticky;
    top: 60px;
  }

  section.scrolly {
    @apply relative p-4 bg-gray-100 max-w-6xl;
    width: calc(100% - 2rem);
  }

  figure.scrolly-canvas {
    @apply sticky w-full m-0 left-0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out, width 1s ease-in-out;
  }

  figure.scrolly-canvas p {
    @apply absolute m-0 p-4 text-center text-6xl font-black text-white transform -translate-y-1/2 -translate-x-1/2;
    top: 50%;
    left: 50%;
  }

  div.scrolly-steps {
    @apply relative p-0 max-w-md mx-auto z-10;
    margin-top: 150vh;
    margin-bottom: 150vh;
  }

  .step.invisible {
    visibility: hidden;
  }

  .step {
    @apply text-white bg-black bg-opacity-25 mx-auto;
    margin-top: 133vh;
    margin-bottom: 133vh;
  }

  .step:last-child {
    margin-bottom: 66vh;
  }

  .step.is-active h4 {
    @apply bg-yellow-500 text-gray-200;
  }

  .step h4 {
    @apply text-center p-4 bg-gray-200;
  }

  .step p {
    @apply text-white p-4;
  }

  .toggle-checkbox:not(:checked) {
    left: 0.2rem;
  }

  .toggle-checkbox:checked {
    right: 0.2rem;
  }
}
